*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav .navbar{
    padding-bottom: 10px;
    color: #000000;
}

.navbar-brand{
    padding-right: 25px;
}


.greeting{
    font-weight: bold;
    margin-top: 3%;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.welcomeSection{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    align-items: center;
}

.welcomeText h1{
    font-size: 4.5rem;
}



/* ------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width:767px){

    nav .navbar{
        padding-bottom: 10px;
        color: #000000;
        width: 100%;
    }
    
    .navbar-brand{
        padding-right: 25px;
    }
    
    .navbar li{
        text-align: center;
    }

    .navbar-toggler{
        border: white;
    }

    .greeting{
        font-weight: bold;
        margin-top: 10%;
        text-align: center;
        padding: 20px;
        background-color: black;
        color: white;
    }
    
    .welcomeSection{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        width: 100%;
        overflow: hidden;
        text-align: center;
        align-items: center;
    }
    
    .welcomeText h1{
        font-size: 3.5rem;
        margin:10% 0 15% 0;
    }
}










.favoriteQuote{
    padding: 10px;
    width: 50%;
    background-color: #c4c4c4;
    margin: 4.5% auto;
    text-align: center;
}

.quote h3{
   padding-top: 10px;
   margin-bottom: 3%;
}

.quote p{
    font-weight: lighter;
}



/* ------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width:767px){

    .favoriteQuote{
        padding: 10px;
        width: 100%;
        overflow: hidden;
        background-color: #c4c4c4;
        /* margin: 4.5% auto; */
        text-align: center;
    }
    
    .quote h3{
       padding-top: 10px;
       margin-bottom: 3%;
       font-weight: bolder;
    }
    
    .quote p{
        font-weight: lighter;
    }
    
}










.aboutSection{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0 30px 0 30px;
}
.aboutText{
    margin-right: 5%;
    padding: 25px;
    background-color: #000000;
    color: #ffffff;
}
.aboutText h1{
    font-size: 4.5rem;
}



/* ------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width:767px){

    .aboutSection{
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        align-content: center;
        padding: 0;
    }

    .aboutText{
        width:100%;
        overflow: hidden;
        background-color: #000000;
        color: #ffffff;
        margin-bottom: 5%;
        margin-right: 0;
    }

    .aboutText h1{
        font-size: 3rem;
        margin-bottom: 10%;
    }

    .aboutPicture{
        width: 100%;
        overflow: hidden;
        padding: 0%;
        margin: 0%;
    }
}










.factSection{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0 30px 0 30px;

}

.people_say_Text{
    margin-left: 5%;
    padding: 30px;
    background-color: #000000;
    color: #ffffff;
}

.people_say_Text h1{
    font-size: 3rem;
    margin-bottom: 5%;
}

.people_say_Text li{
    text-decoration: none;
    list-style: none;
    margin-bottom: 1%;
}



/* ------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width:767px){

    .factSection{
        margin-top: 5%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        width: 100%;        
        overflow: hidden;
        padding: 0;
        text-align: center;
        align-items: center;
        align-content: center;
    }

    .factPicture{
        width: 100%;
        overflow: hidden;
        padding: 0%;
        margin: 0%;
    }
    
    .people_say_Text{
        width: 100%;
        overflow: hidden;
        background-color: #000000;
        color: #ffffff;
        margin-bottom: 5%;
        margin-left: 0;
    }
    
    .people_say_Text h1{
        font-size: 2.5rem;
        margin-bottom: 10%;
    }
    
    .people_say_Text li{
        text-decoration: none;
        list-style: none;
        margin-bottom: 1%;
    }
}










.importantNewsSection{
    text-align: center;
    margin-top: 5%;
    background-color:#c4c4c4;
    color: black;
    padding:20px
}


.importantNewsSection h1{
    font-weight: bolder;
    margin-bottom: 1.5%;
    margin-top: 1%;
}

.btn-dark{
    margin-top: 1%;
    border-radius: 0;
    display: none;
}

.btn-dark:active, .btn-dark:focus, .btn-dark:active:focus{
    outline: 0;
    border-style: none;
    box-shadow:none;
}


/*Decorationg the countdown*/
.count_down{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-content: center;
}

.opening h3{
    font-size: 1rem;
}
.day, .hour, .minute, .second{
    font-size: 4;
    font-weight: normal;
}

#time{
    font-size: 3rem;
}

/* ------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width:767px){

    .importantNewsSection{
        text-align: center;
        margin-top: 5%;
        background-color:#c4c4c4;
        color: black;
        padding:20px
    }
    
    
    .importantNewsSection h1{
        font-weight: bolder;
        margin-bottom: 10%;
        margin-top: 1%;
        font-size: 2.5rem;
    }
    
    .btn-dark{
        margin-top: 1%;
        border-radius: 0;
    }
    
    .btn-dark:active, .btn-dark:focus, .btn-dark:active:focus{
        outline: 0;
        border-style: none;
        box-shadow:none;
    }


    /*Decorationg the countdown*/
.count_down{
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-content: center;
}

.opening h3{
    font-size: 1rem;
}
.day, .hour, .minute, .second{
    font-size: 3rem;
    font-weight: normal;
}


}









footer{
    padding: 20px 0 10px 0;
    text-align: center;
    font-weight: lighter;
    background-color: #f5f5f7;
}





































/* Blog Section Decoration */
.BlogSec{
    margin: 5% 0 8% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    text-align: center;
    align-items: center;
}

.card .card-title{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: black;
    color: white;
}

.card .card-text{
    margin-top: 1.5rem;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:active:focus{
    outline: 0;
    border-style: none;
    box-shadow:none;
}

.card .btn-secondary{
    margin-top: 1.5rem;
}


/* ------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width:767px){

/* Blog Section Decoration */
.BlogSec{
    margin: 5% 0 8% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card{
    margin: 3% auto;
    text-align: center;
    align-items: center;
    margin-bottom: 3.5%;
}

.card .card-title{
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: black;
    color: white;
}

.card .card-text{
    margin-top: 1.5rem;
}

.card .btn-secondary{
    margin-top: 1.5rem;
}



}

















/*Photo PAGE */
.photoSection{
    display: block;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column img {
    padding: 15px;
    height: auto;
    overflow: hidden;
    text-align: center;
    align-content: center;
    align-items: center;
}

img, svg {
    vertical-align: middle;
}





/* ------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */
@media screen and (max-width:767px){

/*Photo PAGE */
.photoSection{
    display: block;
}

.row {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.column img {
    padding: 15px;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
    align-content: center;
    align-items: center;
}

mg, svg {
    vertical-align: middle;
}
}